.git
.github
.idea
.vscode

node_modules
**/node_modules
.pnpm-store

.output
**/.output
.turbo
**/.turbo
.cache
**/.cache
coverage
**/coverage
dist
**/dist

.env
**/.env
.env.*
**/.env.*

data
**/data
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

*.log
.DS_Store
infra
